* {
  scrollbar-width: thin;
  scrollbar-color: #1c1c1c #000000;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #1c1c1c;
  border-radius: 50px;
  border: 3px solid #ffffff;
}

body {
background-color: black;
margin: 0;
padding: 0;
font-family: "Space Mono", monospace;

}

html {
scroll-behavior: smooth;
}

.nav {
display: flex;
align-items: center;
justify-content: space-between; 
padding: 1rem; 
}

.nav a{
color: white;
}

.logo {
display: flex;
align-items: center; 
color: white;
width: auto;
margin: auto;
justify-content: space-between;
transition: 0.5s ease;
}

.logo p {
font-family: "Roboto", sans-serif;
margin: 0;
font-size: 1.7rem;
font-weight: bold;
transition: 0.5s ease;
}

.logo img {
margin: center;
width: 1.5rem;
border-radius: 1rem;
transition: transform 0.5s ease;
}

.navcontainer {
flex: 1; 
display: flex;
justify-content: center; 
margin-right: 3rem;
}

.navcontainer ul {
list-style: none; 
padding: 0; 
margin: 0; 
display: flex; 
}

.navcontainer li {
display: inline-block;
margin: 0 1rem; 
}

.navcontainer a {
position: relative; 
text-decoration: none;
color: white;
overflow: hidden; 
transition: 0.5s ease;
}

.navcontainer a:hover {
font-size: large;
color: rgb(255, 255, 255);
}

.navcontainer a::before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 0;
height: 2px; 
background-color: rgba(255, 255, 255, 0.795);
transition: width 0.3s ease-in; 
}

.navcontainer a:hover::before {
width: 100%;
}

.github {
border-radius: 10%;
display: flex;
align-items: center;
justify-content: center;
padding-left: 0.3rem;
padding-right: 0.3rem;
transition: 0.5s ease;
}

.github:hover {
transform: scale(1.05);
background-color: rgb(255, 255, 255);
}

.name {
display: flex;
align-items: center;
justify-content: center;
width: auto;
height: 3rem;
margin: 0 auto;
margin-left: 1rem;
gap: 1rem;
transition: 0.5s ease;
}

.name i {
transition: 0.5s ease;
}

.name i:hover {
transform: scale(1.2);
}

.github a {
color: white; 
font-size: medium;
margin-right: 0.5rem;
}

.github p {
font-family: "Space Mono", monospace;
color: white;
}

.menu-icon {
display: none;
cursor: pointer;
font-size: 1.5rem;
color: white;
}


@media (max-width: 700px) {
.nav {
    flex-direction: column;
    align-items: flex-start;
}


.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  transition: left 0.5s ease;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  
  .overlay-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease 0.3s;
  }
  
  .overlay.active {
  left: 0;
  }
  
  .overlay.active .overlay-content {
  opacity: 1;
  }

.logo {
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
}

.navcontainer {
    width: 100%;
    z-index: -999;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: absolute; 
    left: -100%; 
    opacity: 0; 
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.navcontainer ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.navcontainer li {
    margin: 0.5rem 0;
}

.menu-icon {
    display: block; 
    position: absolute;
    z-index: 999;
    right: 1rem;
}

.navcontainer.active {
    position: relative;
    left: 0%; 
    opacity: 1; 
    z-index: 999; 
}

.github {
    width: 100%;
    justify-content: center;
    margin-top: 14rem;
    position: absolute; 
    left: -100%; 
    opacity: 0; 
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out, background-color 0.3s ease; 
    z-index: -999; 
}

.github.active {
    left: 0%; 
    opacity: 1; 
    z-index: 999; 
}

.github.active:hover {
    justify-content: center;
    margin-top: 14rem;
    border-radius: 0;
    background-color: rgba(248, 248, 248, 0.856);
    transition: background-color 0.5s ease; 
}

}

#main {
display: flex;
justify-content: center;
align-items: center;
color: white;
}

#main .container {
width: 60%;
height: 60vh;
margin-top: 4rem;
text-align: center;
background: rgba( 248, 245, 245, 0 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border-radius: 10px;
}

#animation {
animation: float 2.5s ease-in-out infinite;
transition: opacity 0.5s ease;
}

@keyframes float {
0%, 100% {
  transform: translateY(0);
}
50% {
  transform: translateY(10px);
}
}

.hidden{
opacity: 0;
transition: opacity 0.5s ease;
}

#main .container h1 {
font-size: 3.5rem;
font-family: "Roboto", monospace;
transition: 0.5s ease;
}

#main .container h1:hover {
transform: scale(1.05);
cursor: default;
}

#main .container p {
transition: 0.5s ease;
}

#main .container p:hover {
transform: scale(1.05);
cursor: default;
}

#main .container p {
font-size: 1.5rem;
font-family: "Roboto", monospace;
margin-top: -2rem;
}

#main .line {
width: 40%;
height: 0.2rem;
background-color: white;
margin: 0 auto; 
transition: 0.5s ease;
}

#main .line:hover{
transform: scale(1.05);
cursor: default;
}

#main a {
color: white;
margin: 0.3rem;
font-size: larger;
display: inline-block;
margin-top: 1rem; 
transition: 0.5s ease;
}

#main a:hover{
transform: scale(1.1);
}

@keyframes growShrink {
0% {
  transform: scale(1);
}
50% {
  transform: scale(1.03);
}
100% {
  transform: scale(1);
}
}

.rainbow {
display: inline-block;
color: #fff; 
}

#skills {
display: flex;
justify-content: center;
align-items: center;
color: white;
}

#skills .skills {
width: 95%;
height: auto;
margin-top: 4rem;
border-radius: 1%;
background: rgba(29, 29, 29, 0.027);
backdrop-filter: blur(10px); 
-webkit-backdrop-filter: blur(10px); 
}

#skills .skills h1 {
font-size: 2.3rem;
margin-left: 2rem;
font-family: "Roboto", monospace;
text-align: center;
}

.right {
display: inline-block;
animation: float-right 3s ease-in-out infinite;
}

.left {
display: inline-block;
animation: float-left 3s ease-in-out infinite;
}

@keyframes float-right {
0% {
  transform: translateY(0) rotate(0deg);
}
50% {
  transform: translateY(-10px) rotate(-10deg);
}
100% {
  transform: translateY(0) rotate(0deg);
}
}

@keyframes float-left {
0% {
  transform: translateY(0) rotate(0deg);
}
50% {
  transform: translateY(5px) rotate(10deg);
}
100% {
  transform: translateY(0) rotate(0deg);
}
}

.games{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
gap: 10rem;

}

.myprojects {
opacity: 0;
transform: translateY(20px); 
transition: opacity 0.5s ease, transform 0.5s ease;
}

.myprojects.visible {
opacity: 1;
transform: translateY(0); 
}

.skills {
opacity: 0;
transform: translateY(50px); 
transition: opacity 0.6s ease-out, transform 0.6s ease-out;
filter: blur(10000000000000px);
}

.skills.visible {
opacity: 1;
transform: translateY(0);
filter:blur(0)
}

.squarecontainer {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
gap: 15vw;
height: 100%;
text-align: center;
}

.square-item {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.square {
width: 8rem;
height: 8rem;
background-color: #fff;
margin-bottom: 0.5rem;
border-radius: 5%;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 0.5s ease, transform 0.3s ease;
}

.square:hover {
background-color: #f0f0f0; 
transform: translateY(-5px); 
}

.square i {
font-size: 5rem;
transition: transform 0.3s ease;
}

.square:hover i {
transform: scale(1.1); 
}
.square-text {
margin-top: 0.5rem;
color: white;
font-family: "Roboto", sans-serif;
transition: color 0.3s ease;
cursor: default;
transition: 0.5s ease;
}

.square-item p:hover{
transform: scale(1.1);
}

.square-item p::before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 0;
height: 2px; 
background-color: rgba(255, 255, 255, 0.795);
transition: width 0.3s ease-in; 
}

.square-item p:hover::before {
width: 100%;
}

.myprojects {
padding: 2rem;
background: rgba(7, 7, 7, 0.534);
backdrop-filter: blur(10px); 
-webkit-backdrop-filter: blur(10px); 
height: auto;
font-family: "Roboto";
}

.myprojects h1 {
text-align: center;
margin-bottom: 2rem;
font-size: 2.5rem;
color: #ffffff; 
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.visit-project {
position: absolute;
bottom: 10px;
right: 10px;
background-color: #00000000;
color: #fff;
border-radius: 50%;
padding: 10px;
font-size: 20px;
transition: background-color 0.3s ease, transform 0.3s ease;
text-decoration: none;
}

.visit-project i {
margin: 0;
}

.visit-project:hover {
background-color: #444444;
transform: scale(1.1);
}

.card {
position: relative; 
display: flex;
flex-direction: column;
width: 300px;
background-color: #252525;
border-radius: 12px;
overflow: hidden;
transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.card:hover {
transform: scale(1.05);
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
background-color: #333;
}

.banner {
position: relative;
width: 100%;
height: 150px;
overflow: hidden;
transition: transform 0.3s ease, filter 0.3s ease;
}

.banner img {
width: 100%;
height: 100%;
object-fit: cover;
transition: transform 0.3s ease, filter 0.3s ease;
}

.card:hover .banner img {
transform: scale(1.1);
filter: brightness(70%);
}

.card__info {
display: flex;
flex-direction: row;
align-items: center;
padding: 1rem;
gap: 10px;
color: #fff;
}

.card__avatar {
width: 35px;
height: 35px;
border-radius: 10px;
object-fit: cover;
}

.card__info span {
font-size: 16px;
font-weight: 500;
}

.card__info p {
color: #919191;
font-size: 13px;
font-weight: 400;
}

.code {
display: flex;
gap: 10px; 
font-size: 24px; 
}

.code i {
transition: transform 0.5s ease, opacity 0.3s ease;
}

.code i:hover {
transform: scale(1.5) rotate(15deg);
opacity: 0.8;
}

.js-icon {
color: #f7df1e; 
}

.sass-icon {
color: #c69; 
}

.html-icon {
color: #e44d26; 
}

.css-icon {
color: #1572b6; 
}

#invertColorsBtn {
position: fixed;
top: 10px;
right: 10px;
padding: 10px 20px;
background-color: #2d80ff;
color: #fff;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s ease;
}

#invertColorsBtn:hover {
background-color: #1a5bb8;
}

#about-me {
background: rgba(12, 12, 12, 0.295); 
padding: 50px 20px; 
text-align: center; 
backdrop-filter: blur(10px); 
-webkit-backdrop-filter: blur(10px); 
}

.about-me {
max-width: 800px; 
margin: 0 auto; 
background-color: #18181859; 
border-radius: 8px; 
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
padding: 30px; 
}

.about-me h1 {
font-size: 2.5em; 
color: #e0e0e0; 
margin-bottom: 20px; 
}

.about-me  p {
font-size: 1.2em; 
line-height: 1.6; 
color: #b0b0b0; 
margin-bottom: 20px; 
}

.about-me  a {
color: #bb86fc; 
text-decoration: none; 
}

.about-me  a:hover {
text-decoration: underline; 
}

@media (max-width: 768px) {

.about-me {
  padding: 20px; 
}

.about-me  h1 {
  font-size: 2em; 
}

.about-me  p {
  font-size: 1em; 
}
}

#about-me.visible {
opacity: 1;
transform: translateY(0);
transition: opacity 0.6s ease, transform 0.6s ease;
}

#about-me {
opacity: 0;
transform: translateY(50px); 
transition: opacity 0.6s ease, transform 0.6s ease;
}

#footer {
background-color: #111; 
color: #ddd; 
text-align: center; 
padding: 20px 0; 
position: relative;
bottom: 0;
width: 100%;
}

.footer-content {
max-width: 1200px; 
margin: 0 auto; 
}

.footer-links a {
color: #ddd; 
margin: 0 10px; 
text-decoration: none; 
}

.footer-links a:hover {
color: #fff; 
}

.footer-links i {
font-size: 24px; 
}

#contact {
background: rgba(7, 7, 7, 0.726);

padding: 60px 20px; 
text-align: center; 
backdrop-filter: blur(0px); 
-webkit-backdrop-filter: blur(15px); 
}

@keyframes buildAnimation {
0% {
  opacity: 0;
  transform: scale(0.9);
}
100% {
  opacity: 1;
  transform: scale(1);
}
}

.contact-form {
width: 80%; 
max-width: 600px; 
margin: 0 auto;
font-family: "Roboto";
border-radius: 16px; 
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
padding: 40px; 
backdrop-filter: blur(9.8px); 
-webkit-backdrop-filter: blur(9.8px); 
border: 1px solid rgba(0, 0, 0, 0.1); 
opacity: 0; 
transform: scale(0.9); 
transition: opacity 0.5s ease, transform 0.5s ease;
}

.contact-form.visible {
animation: buildAnimation 1s forwards; 
}

.contact-form h1 {
font-size: 2.8rem; 
color: #e0e0e0; 
margin-bottom: 20px; 
font-family: "Roboto", sans-serif; 
}

.contact-form label {
display: block; 
color: #ddd; 
font-family: "Roboto", sans-serif; 
margin-bottom: 8px; 
text-align: left; 
}

.contact-form input, 
.contact-form textarea {
width: 100%; 
padding: 12px; 
margin-bottom: 15px; 
border: none; 
border-radius: 5px; 
background-color: #333; 
color: #fff; 
font-size: 1rem; 
font-family: "Roboto", sans-serif; 
transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.contact-form input.valid:focus,
.contact-form textarea.valid:focus {
box-shadow: 0 0 5px rgb(115, 255, 0); 
}

.contact-form input.invalid:focus,
.contact-form textarea.invalid:focus {
box-shadow: 0 0 5px rgba(255, 0, 0, 0.8); 
}

.contact-form input:focus,
.contact-form textarea:focus {
background-color: #444; 
outline: none; 
}

.contact-form button {
background-color: #161616c7; 
color: #fff; 
border: none; 
border-radius: 5px; 
padding: 12px 24px; 
font-size: 1.1rem; 
cursor: pointer; 
transition: background-color 0.3s ease, transform 0.3s ease; 
}

.contact-form button:hover {
background-color: #0a0a0a; 
transform: scale(1.05); 
}

.smaller{
font-size: 2rem;
}

@media (max-width: 768px) {
#contact {
  padding: 40px 10px; 
}

.contact-form {
  padding: 20px; 
  width: 90%; 
}

button[type="submit"].disabled {
  cursor: not-allowed;
}

button[type="submit"].disabled:hover {
background-color: rgba(255, 0, 0, 0.281);
cursor: not-allowed;
}

.contact-form input{
  width: 90%;
}

.contact-form h1 {
  font-size: 2.2rem; 
}
}

textarea {
width: 110%;
padding: 12px;
margin-bottom: 15px;
border: none;
border-radius: 5px;
background-color: #f9f9f9;
color: #333;
font-size: 1rem;
font-family: "Roboto", sans-serif;
overflow: hidden; 
resize: none; 
}

.textarea-container {
position: relative; 
}

.textarea-validation-icon {
position: absolute;
right: 0px;
bottom: 10%;
transform: translateY(-50%);
font-size: 1.2em;
color: transparent; 
transition: color 0.3s ease, opacity 0.3s ease; 
opacity: 0; 
}

.textarea-validation-icon.valid {
color: rgb(115, 255, 0); 
opacity: 1; 
}

.textarea-validation-icon.invalid {
color: rgba(255, 0, 0, 0.8); 
opacity: 1; 
}

.textarea-error-message {
color: rgba(255, 0, 0, 0.8); 
font-size: 0.9em;
margin-bottom: 2rem;
}

.textarea-container textarea.valid:focus {
box-shadow: 0 0 5px rgb(115, 255, 0); 
}

.verde{
color: rgb(115, 255, 0);;
}

.textarea-container textarea.invalid:focus {
box-shadow: 0 0 5px rgba(255, 0, 0, 0.8); 
}

.textarea-container textarea:focus {
background-color: #444; 
outline: none; 
}

.email-input-container {
position: relative;
}

.textarea-error-message {
font-size: 0.9em;
margin-top: 5px;
color: rgba(255, 0, 0, 0.8); 
transition: color 0.3s ease; 
}

.textarea-error-message.valid {
color: rgba(0, 255, 0, 0.8); 
}

.email-validation-icon {
position: absolute;
right: 0;
top: 40%;
transform: translateY(-50%);
font-size: 1.2em;
color: transparent; 
transition: color 0.3s ease, opacity 1.3s ease; 
opacity: 0; 
}

.email-validation-icon.valid {
color: rgb(11, 216, 11);
opacity: 1; 
}

.email-validation-icon.invalid {
color: red;
opacity: 1; 
}

.email-error-message {
color: red;
font-size: 0.9em;
margin-top: 5px;
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1b1b1b50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999999999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
